<div class="cardm">
  <div class="card">
    <svg class="weather" version="1.1" id="Layer_1" 
        xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 
        width="100px" height="100px" viewBox="0 0 100 100" xml:space="preserve">
      <image id="image0" width="100" height="100" x="0" y="0" 
        [attr.href]="icono"></image>
    </svg>

    <div class="text-container">
      <div class="main">{{ dato }}</div>
      <div class="mainsub">{{ nameSensor }}</div>
    </div>
  </div>
</div>
