<div class="landing-container">
  <app-header></app-header>

  <section id="inicio" class="hero">
    <div class="hero-content">
      <img src="/fermentador-lab.png" alt="Fermentador" class="hero-image" />
      <div class="hero-text">
        <h1><strong>Transformando <span class="green">residuos agroindustriales</span> en energía limpia:</strong></h1>
        <h2><strong><span class="blue">FERMENTADOR DE BIOMASA <span class="green">ACCESIBLE</span></span></strong></h2>
        <p class="quote">“Un sistema automatizado que convierte residuos agroindustriales en bioproductos sostenibles.”
        </p>
      </div>
    </div>
  </section>

  <section id="problematica" class="why">
    <div class="why-content">
      <div class="why-text">
        <h2><strong>¿Por qué este proyecto?</strong></h2>
        <p>En zonas agrícolas, millones de toneladas de residuos como bagazo y paja se desperdician o queman, generando
          contaminación. Nuestro fermentador busca cambiar esto.</p>
      </div>
      <img src="/mano.png" alt="Hoja con energía" class="why-image" />
    </div>
  </section>

  <section id="innovacion" class="features-section">
    <div class="features-content">
      <ul class="features-list">
        <li><span class="icon">⚡</span> <strong>Fermentador modular y de bajo costo.</strong></li>
        <li><span class="icon">⚙️</span> <strong>Automatización.</strong></li>
        <li><span class="icon">♻️</span> <strong>Reutilización.</strong></li>
        <li><span class="icon">🏫</span> <strong>Ideal para comunidades rurales y escuelas técnicas.</strong></li>
      </ul>
      <h3 class="circular-tech"><strong>Tecnología accesible para una economía circular.</strong></h3>
    </div>
  </section>

  <section id="funcion" class="how-it-works">
    <div class="how-content">
      <div class="how-text">
        <h2><strong>¿Cómo Funciona?</strong></h2>
        <ul class="steps">
          <li><span class="icon">➡️</span> <strong>Entrada:</strong> Residuos agroindustriales (bagazo, paja, aserrín).
          </li>
          <li><span class="icon">🔬</span> <strong>Fermentación automatizada utilizando aplicaciones web: </strong>
            Controlado por sensores de pH, temperatura, etc.</li>
          <li><span class="icon">✅</span> <strong>Salida:</strong> Bioetanol y ácidos orgánicos.</li>
        </ul>
      </div>
      <img src="/diagrama-fermentador.png" alt="Esquema Fermentador" class="diagram" />
    </div>
  </section>

  <app-footer id="contacto"></app-footer>
</div>