<nav class="sidebar-nav">
  <ul class="sidebar-list">
    <li class="sidebar-item" [ngClass]="{'active': isActive('/dashboard-docente/inicio')}">
      <a (click)="goToInicio($event)" class="sidebar-link">
        <span class="sidebar-icon">
          <img class="sidebar-img" src="icons/casa.png" alt="">
        </span>
        <span class="sidebar-label">Página Principal</span>
      </a>
    </li>
    <li class="sidebar-item" [ngClass]="{'active': isActive('/dashboard-docente/statistics')}">
      <a (click)="goToEstadisticas($event)" class="sidebar-link">
        <span class="sidebar-icon">
          <img class="sidebar-img" src="icons/estadisticas.png" alt="">
        </span>
        <span class="sidebar-label">Estadísticas</span>
      </a>
    </li>
    <li class="sidebar-item" [ngClass]="{'active': isActive('/dashboard-docente/sensores')}">
      <a (click)="goToSensores($event)" class="sidebar-link">
        <span class="sidebar-icon">
          <img class="sidebar-img" src="icons/sensor.png" alt="">
        </span>
        <span class="sidebar-label">Sensores</span>
      </a>
    </li>
    <li class="sidebar-item" [ngClass]="{'active': isActive('/dashboard-docente/history')}">
      <a (click)="goToHistorial($event)" class="sidebar-link">
        <span class="sidebar-icon">
          <img class="sidebar-img" src="icons/historial.png" alt="">
        </span>
        <span class="sidebar-label">Historial</span>
      </a>
    </li>
    <li class="sidebar-item" [ngClass]="{'active': isActive('/dashboard-docente/calculator')}">
      <a (click)="goToCalculos($event)" class="sidebar-link">
        <span class="sidebar-icon">
          <img class="sidebar-img" src="icons/calculos.png" alt="">
        </span>
        <span class="sidebar-label">Cálculos</span>
      </a>
    </li>
    <li class="sidebar-item" [ngClass]="{'active': isActive('/dashboard-docente/fermentacion')}">
      <a (click)="goToFermentacion($event)" class="sidebar-link">
        <span class="sidebar-icon">
          <img class="sidebar-img" src="icons/fermentacion.png" alt="">
        </span>
        <span class="sidebar-label">Fermentación</span>
      </a>
    </li>
  </ul>
</nav>
