<h1 class="dashboard-title">
  Panel Principal
  <img class="dashboard-title-img" src="icons/casa-1.png" alt="Ícono Dashboard" />
</h1>

<section class="dashboard-section">
  <h2 class="section-title">
    Estadísticas de Sensores
    <img class="section-icon" src="icons/estadisticas1.png" alt="Ícono estadísticas" />
  </h2>
  <div class="stats-preview">
        <app-card-sensores 
  icono="icons/temperature.svg"
  [dato]="sensorValues['Temperatura'] || '---'"
  nameSensor="Temperatura DS18B20">
</app-card-sensores>

<app-card-sensores 
  icono="icons/flask.svg"
  [dato]="sensorValues['Alcohol'] || '---'"
  nameSensor="Nivel de alcohol MQ3">
</app-card-sensores>

<app-card-sensores 
  icono="icons/droplet.svg"
  [dato]="sensorValues['pH'] || '---'"
  nameSensor="Nivel de PH">
</app-card-sensores>

<app-card-sensores 
  icono="icons/voltage.svg"
  [dato]="sensorValues['Conductividad'] || '---'"
  nameSensor="Conductividad">
</app-card-sensores>

<app-card-sensores 
  icono="icons/cloudy.svg"
  [dato]="sensorValues['Turbidez'] || '---'"
  nameSensor="Turbidez">
</app-card-sensores>
  </div>
</section>